/* style.css */

#errorMessages {
  color: red;
}

#companyHoursSummary {
  color: blue;
}

body {
  font-family: "Arial", sans-serif; /* Change the font family */
  font-size: 0.75rem; /* Reduce the base font size */
  margin: 0;
  padding: 0;
}

.container {
  padding: 10px; /* Reduce overall spacing */
}

.row {
}

.form-control,
.btn,
.table {
  font-size: 0.75rem; /* Smaller form controls, buttons, and table text */
}

.input-group-text {
  font-size: 0.75rem; /* Smaller input group addon text */
  padding-left: 0.25rem; /* Reduce left padding */
  padding-right: 0.25rem; /* Reduce right padding */
}

/* Optional: Adjust if needed */
.input-group .form-control {
  margin-left: -1px;
  margin-right: -1px;
}

.row.custom-gutter {
  margin-left: -5px;
  margin-right: -5px;
}
.row.custom-gutter > [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

.btn {
  width: 200px;
}

label {
  font-weight: bold;
}

header {
  background-color: #ccc; /* Soft shade of blue */
  padding: 10px;
}

/* Reduce bottom margin of the table and the "Erros" heading */
#scheduleTable th,
#scheduleTable td {
  padding: 1px; /* Adjust this value as needed */
}

/* Reduce top margin of the "Erros" and "Somatórios" sections */
#errorMessages,
#companyHoursSummary {
  margin-top: 0; /* Removes the top margin */
}

/* Optional: Adjust padding if necessary */
#errorMessages,
#companyHoursSummary {
  padding-top: 5px; /* Adds a little space at the top if needed */
  padding-bottom: 5px; /* Adds a little space at the bottom if needed */
}

p {
  margin: 0;
  padding: 0;
}

.section-title {
  margin: 2px;
  padding: 2px;
  font-weight: bold;
}

.red-icon {
  color: red;
}

#hourlyScheduleTable {
  width: 100%;
  border-collapse: collapse;
}

#hourlyScheduleTable thead {
  background-color: #333; /* Cabeçalho verde */
  color: white;
}

#hourlyScheduleTable th,
#hourlyScheduleTable td {
  border: 1px solid #ddd;
  padding: 8px;
}

#hourlyScheduleTable tr:nth-child(even) {
  background-color: #f2f2f2; /* Linhas pares com fundo cinza claro */
}

#hourlyScheduleTable tr:hover {
  background-color: #aaa; /* Fundo cinza mais escuro ao passar o mouse */
}

#hourlyScheduleTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

#hourlyScheduleTable tbody tr {
  margin: 0;
  padding: 0;
}

#hourlyScheduleTable tbody td {
  padding-top: 2px;
  padding-bottom: 2px;
}

/* Estilos específicos para cada vínculo */
/* .ufsj1 {
  font-weight: bold;
  color: black;
}

.ufsj2 {
  font-weight: bold;
  color: #666;
}

.externo1 {
  color: #0056b3;
}

.externo2 {
  color: #0056b3; 
}

.externo3 {
  color: #0056b3; 
}

.externo4 {
  color: #0056b3;
}

.deslocamento {
  color: green;
} */
